<div class="container" >
    <p class="heading">My Projects</p>
    <p class="desc">Here are the work samples I have done so far.<br>First project started on 4th December 2021.</p>
    <div class="grid-container">
        <div class="project-container">
           <img src="../../../assets/expressjs.jpeg">
           <div class="text-container">
              <p class="name">Project name</p>
              <p class="proj-desc">Project Description project description project descriptionProject Description project description project description </p>
           </div>
        </div>
        <div class="project-container">
            <img src="../../../assets/expressjs.jpeg">
            <div class="text-container">
               <p class="name">Project name</p>
               <p class="proj-desc">Project Description project description project descriptionProject Description project description project description </p>
            </div>
        </div>
        <div class="project-container">
            <img src="../../../assets/expressjs.jpeg">
            <div class="text-container">
               <p class="name">Project name</p>
               <p class="proj-desc">Project Description project description project descriptionProject Description project description project description </p>
            </div>
        </div>
        <div class="project-container">
            <img src="../../../assets/expressjs.jpeg">
            <div class="text-container">
               <p class="name">Project name</p>
               <p class="proj-desc">Project Description project description project descriptionProject Description project description project description </p>
            </div>
        </div>

    </div>
    <p class="conclusion">Hope more works to be done by me.<br>Keep approaching me on your work.<br> Keep supporting me. </p>
</div>

<app-footer></app-footer>
