<div class="container" >
    <p class="heading">My Projects</p>
    <p class="desc">Here are the work samples I have done so far.<br>First project started on 4th December 2021.</p>
    <div class="grid-container">
        <div class="project-container">
           <img src="../../../assets/skr icon.jpg">
           <div  class="text-container">
              <p class="name">Hospital portal</p>
              <p class="proj-desc">This is a hospital portal, developed using Angular, express server, MySQL database, Node js etc.. It is fully responsive in all types of devices. </p>
           </div>
        </div>
        <div (click)="ticTacToe()" class="project-container">
            <img src="../../../assets/tictactoe.jpg">
            <div class="text-container">
               <p class="name">Tic tac toe</p>
               <p class="proj-desc">This tic-tac-toe game is fully integrated based on several algorithms to compute the moves. It is responsive for all available devices. It has the computer-player functionality as well.</p>
            </div>
        </div>
        <div (click)="cruisers()" class="project-container">
            <img src="../../../assets/cruiserselite.jpg">
            <div class="text-container">
               <p class="name">Educational site</p>
               <p class="proj-desc">This is a college's website which has all the details of study-resources, participants and concise information abput the management.</p>
            </div>
        </div>
        <div class="project-container">
            <img src="../../../assets/murali.jpg">
            <div class="text-container">
               <p class="name">Patient tracker</p>
               <p class="proj-desc">This Patient tracking site is being used by various small scale doctors in the state. It performs CRUD operations on patients and their medicines. </p>
            </div>
        </div>
        <div (click)="eCom()" class="project-container">
            <img src="../../../assets/commerce.jpg">
            <div class="text-container">
               <p class="name">Ecommerce site</p>
               <p class="proj-desc">This Ecommerce site is developed based on our US client named Dwayne. However, it is responsive for only mobile devices as it was his requirement.</p>
            </div>
        </div>

    </div>
    <p class="conclusion">Hope more works to be done by me.<br>Keep approaching me on your work.<br> Keep supporting me. </p>
</div>

<app-footer></app-footer>
