<div class="container">
    <p class="so">Let me introduce myself to you..</p>
    <div class="text-container">
        <p class="name">Yaswanth Ravula. </p>
        <p class="short-description">I'm a Web Developer from Chennai, India.<br>A Young Full Stack Website Developer.</p>
        <p class="heading"></p>
        <p class="long-description">Hey, Hi chief, thank you for diving into details. I develop various sorts of websites such as ECommerce, Hospital Management, e.t.c..<br><br> I am absolutely that guy, who always endeavours to achieve copious goals as a software developer. In part of that attempt, I have been developing websites since December 2022. I never drop out myself in setting up an exceptional path as a Web Developer. A complex challenge can be faded out with a Quality-Solution.</p>
        <div class="btns">
            <p class="works">My Works </p>
            <p class="Hire">Hire Me</p>
        </div>
        
    </div>
</div>

<div class="foot" style="position: absolute; top:101vh">
<app-footer></app-footer>
</div>